<!-- Modal -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="myModalLabel">Eviar imagem</h5>
      </div>
      <div class="modal-body">
        <form id=uploadimage action="" method="POST" enctype="multipart/form-data">
           
            <input type="hidden" name="site" value="{{site.name}}">
            <input type="hidden" name="MAX_FILE_SIZE" value="10" />
            <input class="btn btn-info" type="file" name="file" id="file" required >
           
        </form>
       
      </div>
      
      <!--div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
        <button onclick='$("#uploadimage").submit();' type="button" class="btn btn-primary btn-sm">Enviar</button>
      </div-->
    </div>
  </div>
</div>

<div class="modal fade" id="port_img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Eviar imagem</h4>
      </div>
      <div class="modal-body">
        <form id=image_port_form action="{{data}}/portfolio/img/upload" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="site" value="{{site.name}}">
            <input type="hidden" name="MAX_FILE_SIZE" value="10" />
            <input type="file" name="file1" id="file1" class="btn btn-info">

            id: <input name=img_port_item_id id=img_port_item_id type=text>
            
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#portfolioModal1').modal('show');">Cancelar</button>
        <button onclick='$("#image_port_form").submit();' type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Login para {{site.name}}</h4>
      </div>
      <div class="modal-body">
        <form id=login_form action="{{data}}/login_do" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="site" value="{{site.name}}">
            <input type="password" name="senha" value="" class="form-control" id="exampleInputEmail1" placeholder="Entre com a senha">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button onclick='$("#login_form").submit();' type="button" class="btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="adm_portfolio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Portfolio</h4>
      </div>
      <div class="modal-body">
        <form id=form_portfolio action="{{data}}/upload" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="site" value="{{site.name}}">
            <div class="form-group">
              <label for="file">Imagem</label>
              <input type="file" id="file" name="file" >
            </div>
            <div class="form-group">
              <label for="titulo">Titulo</label>
              <input type="text" class="form-control" id="titulo" placeholder="titulo">
            </div>

            <div class="form-group">
              <label for="cliente">Cliente</label>
              <input type="text" class="form-control" id="cliente" placeholder="cliente">
            </div>

            <div class="form-group">
              <label for="titulo">Site</label>
              <input type="text" class="form-control" id="site" placeholder="site">
            </div>

            <div class="form-group">
              <label for="titulo">Data</label>
              <input type="text" class="form-control" id="data" placeholder="data">
            </div>

            <div class="form-group">
              <label for="titulo">Serviço</label>
              <input type="text" class="form-control" id="servico" placeholder="servico">
            </div>
            <div class="form-group">
              <label for="titulo">Texto</label>
              <textarea  name="txt" class="form-control" rows="3"></textarea>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button onclick='$("#form_portfolio").submit();' type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="adm_menu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Menu items</h4>
      </div>
      <div class="modal-body">
        <form id=menu_form action="{{data}}/menu/save" method="POST" enctype="multipart/form-data">

        <table class="table table-hover">
            <thead>
              <tr>
                <th>Titulo</th>
                <th>Link</th>
              </tr>
            </thead>
            <tbody>
              {% for n in (0..2) %}  
                <tr>
                  <td><input type="text" name="site_moldura_menu_{{n}}_label" value="{{site.moldura.menu[n].label}}"></td>
                  <td><input type="text" name="site_moldura_menu_{{n}}_link" value="{{site.moldura.menu[n].link}}"></td>
                </tr>

              {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button onclick='$("#menu_form").submit();' type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>