<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
             <style>
               .cropcircle{
                      width: 250px;
                      height: 250px;
                      border-radius: 100%;
                      background: #eee no-repeat center;
                      background-size: cover;

                      box-shadow: 0 0 8px rgba(0, 0, 0, .8);
                      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
                      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

                      margin: 0 auto;
                  }

                  #image1{
                      background-image: url({{ site.pages.home.img }});
                  }
                </style>
              
                <div id="image1" 
                     class="cropcircle img-responsive" 
                    {% if logado  %}
                     onclick="$('#file').click();"
                    {% endif %}
                     >
                </div>

                <form id=uploadimage action="/{{site.name}}/upload" method="POST" enctype="multipart/form-data">
           
                    <input type="hidden" name="site" value="{{site.name}}">
                    <input type="hidden" name="MAX_FILE_SIZE" value="10" />
                    <input class="btn btn-info" type="file" name="file" id="file" required style="visibility:hidden">
                   
                </form>

                <div class="intro-text">
                    <span class="name">
                      <div class="editable">
                       {{ site.pages.home.label }}
                      </div>
                    </span>
                    <hr class="star-light">
                    <span class="skills">
                     <div class="editable">
                      {{ site.pages.home.body }}
                     </div></span>
                </div>
            </div>
        </div>
    </div>
</header>