<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{site.pages.portfolio.label}}</h2>
                <hr class="star-primary">
            </div>

     
        </div>
     
        <ul class="simplefilter">
                <li class="active" data-filter="all">All</li>
         
         {% for t in port_cats %}
        
                <li data-filter="{{forloop.index}}">{{t}}</li>
<!-- 
                <button class="btn btn-small btn-primary" data-toggle="portfilter" data-target="{{t}}"> -->
                  
                <!-- </button> -->
         {% endfor %}
        </ul>
     <div class="clearfix"></div>

      <br />
        <style>
        .crop {
    width: 380px;
    height: 240px;
    overflow: hidden;
}

        </style>
        <div class="row"> 
           
             
            <!-- <div class="clearfix mosaicflow"> -->
                   <!-- filters -->
                <!-- filters -->
              
             <div class="filtr-container">
                  {% for item in site.pages.portfolio.items %}
               

                
                <div class="col-sm-4 filtr-item  crop" data-category="{{item.cat | indice}}" data-sort="">
                   <a href="#portfolioModal{{item.id}}" class="portfolio-link" data-toggle="modal">
                   <!--  <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                    </div> -->
                    <img id=port_img_mini_{{item.id}} src="{{item.img}}" class="img-responsive centered-and-cropped"  alt="">
                    <span class="item-desc">{{item.titulo}}</span>
                   </a>
                </div>

                  
                 <!--  <div class="col-sm-4 portfolio-item crop"  data-tag='{{item.cat}}'>
                    <a href="#portfolioModal{{item.id}}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img id=port_img_mini_{{item.id}} src="{{item.img}}" class="img-responsive centered-and-cropped"  alt="">
                        <div class="caption">
                    </a>
                  </div> -->



                  {% endfor %}
                  <!--   <div class="grid-item">
                       <a  href="#portfolioModal{{item.id}}" class="portfolio-link tile-inner" data-toggle="modal">
                         <img  id=port_img_mini_{{item.id}} src="{{item.img}}"  />
                       </a>
                    </div> -->
                  <!--   <div class="mosaicflow__item">
                  <a href="#portfolioModal{{item.id}}" class="portfolio-link" data-toggle="modal"
                  onclick = "$('#img_port_item_id').val({{ forloop.index }});">
                      <div class="caption">
                          <div class="caption-content">
                              <i class="fa fa-search-plus fa-3x"></i>
                          </div>
                      </div>
                           <img id=port_img_mini_{{item.id}} src="{{item.img}}" class="img-responsive" alt="">
                  </a>
             </div> -->
                  
           <!--  <div class="mosaicflow__item">
                  <h4>Lorem ipsum dolor sit amet</h4>
                  <p>Excepteur sint occaecat cupidatat non proident</p>
               </div> -->
              </div>
          </div>
</section>
