
{% for item in site.pages.portfolio.items %}

    <div class="portfolio-modal modal fade" id="portfolioModal{{ item.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2> <div class="editable">{{ item.titulo }}</div></h2>
                            <hr class="star-primary">
                            <img id="port_img_{{ item.id }}" src="{{ item.img }}" class="img-responsive img-centered leImage" alt="" onclick="$('#{{ item.id }}').click();" >

                            <form id="image_port_form_{{ item.id }}" class="image_port_form" action="" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="site" value="{{site.name}}">
                                <input type="file" name="file_{{ item.id }}" id="{{ item.id }}" style="visibility:hidden" class="file">
                                <input name=item_id id=item_id value="{{item.id}}" type=hidden>
                            </form>

                            <p><div class="editable">{{ item.txt }}</div></p>
                            <ul class="list-inline item-details">
                                <li>Id:
                                    <strong><div class="editable" id=port_item_id>{{ item.id }}</div>
                                    </strong>
                                </li>
                                <li>Cliente:
                                    <strong><div class="editable">{{ item.cliente }}</div>
                                    </strong>
                                </li>
                                <li>Data:
                                    <strong><div class="editable">
                                        {{ item.data }}
                                      </div>
                                    </strong>
                                </li>
                                <li>Serviço:
                                    <strong><div class="editable">
                                           {{ item.servico }}
                                      </div>  
                                    </strong>
                                </li>
                                <li>Site:
                                    <strong><div class="editable">
                                      <a href="http://{{ item.site}}">
                                           {{ item.site }}
                                      </a></div>  
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endfor%}